.pt-150{
    padding-top: 150px;
}

.pb-150{
    padding-bottom: 150px;
}

.t-d{
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: rgb(0, 137, 0);
}

.gray{
    background-color:#E4E4E4 ;
}

.circle{
    width: 75px;
    height: 75px; 
    background-color: rgb(214, 255, 214);
    display: inline-block;
}

.green{
    color: rgb(214, 255, 212);
}

.pb-50{
    padding-bottom: 50px;
}


.green-smt1{
    width: 45px;
    height: 300px;
    background-color: rgb(17, 119, 17);
}
.green-smt{
    width: 30px;
    height: 300px;
    background-color: rgb(17, 119, 17);
}

.transform{
    transform: scaleX(-1);
    display: inline-block;
}